#ignore altium log file
history
*/__Previews
__Previews
Project Logs*
*.step
*.log
#ignore folderFile created by windows
desktop.ini
*.PcbDoc_loc
*.Annotation_loc
*.db
*Status Report.Txt
2-PROJ/23-Carte_Alim_Turbines/#auto_saved_files#
2-PROJ/23-Carte_Alim_Turbines/23-Carte_Alim_Turbines-backups/
2-PROJ/23-Carte_Alim_Turbines/fp-info-cache
